:root {
    --bluegray: #90ADC6;
    --pewter: #E9EAEC;
    --yellow: #FAD02C;
    --darkblue: #333652;
}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110%;
    transition: box-shadow 0.3s ease;
    margin: 0;
    border-bottom: black 1px solid;
    color: var(--darkblue);
    margin-bottom: 100px;
}

nav:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.navSectionDiv {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}

.navList {
    list-style-type: none; /* Removes the default bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Adds space between list items */
}

.navList li {
    padding: 10px 0; /* Adds vertical padding to each list item */
    margin-left: 20px;
    color: var(--pewter);
}

.navLogoDiv {
    display: flex;
    gap: 20px; /* Adds space between logos */
    align-items: center; /* Centers logos vertically */
    margin-right: 20px;
}

nav li {
    list-style: none;
    padding: 10px 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.introductionSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid var(--darkblue);
    transition: box-shadow 0.3s ease;
    
}

.introductionSection:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.introTextDiv, .introImageDiv {
    animation: fadeIn 2s ease-in-out;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px var(--darkblue), 0 0 10px var(--darkblue), 0 0 15px var(--darkblue), 0 0 20px var(--darkblue);
    }

    50% {
        box-shadow: 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white;
    }
    100% {
        box-shadow: 0 0 5px var(--darkblue), 0 0 10px var(--darkblue), 0 0 15px var(--darkblue), 0 0 20px var(--darkblue);
    }
}

.introImage {
    width: 20%;
    height: 20%;
    border: 5px double var(--darkblue);
    border-radius: 30px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: glow 5s ease-in-out infinite;
    margin: 25px;
}

.introTextDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

.introImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introTextParagraph {
    margin: 25px;
    line-height: 2;
}

.introTextHeader {
    font-family: "Patrick Hand", sans-serif;
    font-size: 30px;
    color: var(--darkblue);
    margin: 25px;
}

body {
    background-image: url('https://i.ibb.co/9hwJFSZ/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

p {
    font-family: "Rubik", sans-serif;
}

.countdown {
    display: none; /* Hide the countdown by default */
}

.age:hover .countdown {
    display: inline; /* Show the countdown when the age is hovered over */
}

